<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BugLens Regression Suite">

    <test name="BugLens Regression">

        <classes>

            <class name="tests.RequirementAnalyzerTest"/>
            <class name="tests.BugAnalyzerTest"/>
            <class name="tests.TestCasesTest"/>

        </classes>

    </test>

</suite>